h1, h2, h3 {
    
    /* via http://rachaelmoore.name/posts/design/css/web-safe-helvetica-font-stack/#sthash.tT7aN9ah.dpuf
       and http://www.google.com/fonts/#QuickUsePlace:quickUse/Family:Roboto */
    font-family: "Roboto", "HelveticaNeueUltraLight", "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Arial", sans-serif;
    font-weight: 100;
    font-stretch: normal;
    
    /* simulate better antialiasing http://stackoverflow.com/a/4012154/29 */
    text-shadow: 0 0 1px rgba(0,0,0,0.3);
}

li > em {
    color: #777;
}

#header a:link, #header a:visited {
    color: #000;
}

#header a:hover, #header a:active {
    color: #2ba6cb;
}

#footer div {
    font-size: 75%;
}

#footer ul {
    list-style-type: none;
    margin-left: 0;
}

hr {
    border-top: 1px dashed #b1b1b1;
    color: #fff;
    background-color: #fff;
    height: 1px;
}

#share-url {
    background-color: #fff;
}


a.meme-thumb {
    display: inline-block;
    padding: 2px;
}

    a.meme-thumb div {
        border-radius: 10%;
    }

    a.meme-thumb:hover div {
        box-shadow: 0 0 5px #2284a1;
        transition: all ease-in-out 100ms;
    }

.framed {
    border-radius: 3px;
    border: 1px solid #b1b1b1;
}

.flash-on-load{
    -webkit-animation:flash 1s;
       -moz-animation:flash 1s;
         -o-animation:flash 1s;
            animation:flash 1s;
}
@-webkit-keyframes flash { 0% {background-color: #fff;} 10% {background-color: #ffb093;} 20% {background-color: #fff;} 30% {background-color: #ffb093;} 100% {background-color: #fff; } }
   @-moz-keyframes flash { 0% {background-color: #fff;} 10% {background-color: #ffb093;} 20% {background-color: #fff;} 30% {background-color: #ffb093;} 100% {background-color: #fff; } }
     @-o-keyframes flash { 0% {background-color: #fff;} 10% {background-color: #ffb093;} 20% {background-color: #fff;} 30% {background-color: #ffb093;} 100% {background-color: #fff; } }
        @keyframes flash { 0% {background-color: #fff;} 10% {background-color: #ffb093;} 20% {background-color: #fff;} 30% {background-color: #ffb093;} 100% {background-color: #fff; } }
