body {
}

/*
.row + .row {
    margin-top: 40px;
}
*/

li > em {
    color: #777;
}

#header a:link, #header a:visited {
    color: #000;
}

#header a:hover, #header a:active {
    color: #2ba6cb;
}

#footer div {
    font-size: 75%;
}

#footer ul {
    list-style-type: none;
    margin-left: 0;
}

hr {
    border-top: 1px dashed #b1b1b1;
    color: #fff;
    background-color: #fff;
    height: 1px;
}

#share-url {
    background-color: #fff;
}


a.meme-thumb{
    float: left;
    padding: 2px;
}

a.meme-thumb div {
    border-radius: 10%;

}

    a.meme-thumb:hover div {
        box-shadow: 0 0 5px #2284a1;
        transition: all ease-in-out 100ms;
    }