*.log
*.pot
*.pyc
*.suo
*.user
*.ncrunch*
bin/
obj/
local_settings.py
.idea/
Thumbs.db
*.pubxml*
newrelic.config
*.PublishSettings
local-docs/
newrelic.prod.config
SpriteThumbsOutput/
TestResults/
Upboatme/App_Data/version.txt
packages/
