<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <httpRuntime requestPathInvalidCharacters="" requestValidationMode="2.0" />
    <pages validateRequest="false" />
    <httpHandlers>
      <add verb="*" path="*" scriptProcessor="D:\python27\python.exe %s %s" type="Unspecified" />
    </httpHandlers>
  </system.web>
  <appSettings>
    <add key="DJANGO_SETTINGS_MODULE" value="DjangoApplication.settings" />
    <add key="PYTHONPATH" value="D:\home\site\wwwroot\DjangoApplication;D:\home\site\wwwroot\site-packages" />
    <add key="WSGI_HANDLER" value="django.core.handlers.wsgi.WSGIHandler()" />
  </appSettings>
</configuration>
