@model UpboatMe.Models.Meme
<a href="@Url.Action("Make", "Meme", new { name = Model.Aliases[0], top = "top-line", bottom = "bottom-line" }, null)" class="meme-thumb">@Html.ThumbImage(Model.ImageFileNameWithoutExtension)</a>