@model System.Collections.Generic.List<UpboatMe.Models.Meme>

@{
    ViewBag.Title = "List";
}

@using (Html.BeginForm("List", "Meme", FormMethod.Get, new { id = "list-search-form" }))
{
    
<div class="row">    
    <div class="large-5 columns">
        <input type="text" id="query" name="query" placeholder="search for a meme" value="@Request.QueryString["query"]"/>
    </div>
    <div class="large-2 columns left">
        <input type="submit" value="Search" class="postfix small button middle"/>
    </div>
</div>

}

<div class="row">
    <div class="large-12 columns newspaper">

        @foreach (var meme in Model)
        {
            @Html.Partial("ListItemPartial", meme)
        }

        @if (!Model.Any())
        {
            <em>No matches found - try again!</em>
        }
    </div>
</div>
