@model UpboatMe.Models.Meme

<div class="meme panel">
    <h5>@Html.ActionLink(Model.Description, "Make", "Meme", new { name = Model.Aliases[0], top = "top-line", bottom = "bottom-line" }, null)
        <div class="@Path.GetFileNameWithoutExtension(Model.ImageFileName)"></div>
        <small>aka 
            @for (var i = 0; i < Model.Aliases.Count; ++i)
            {
                var alias = Model.Aliases[i];
                @(i == 0 ? "" : ", ")@Html.ActionLink(alias, "Make", "Meme", new { name = alias, top = "top-line", bottom = "bottom-line" }, null);
            }
        </small>
    </h5>
</div>
