<!DOCTYPE html>
<html>
<head>
    <title>upboat.me</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/ico">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.10.3/build/cssreset/cssreset-min.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.10.3/build/cssbase/cssbase-min.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.10.3/build/cssfonts/cssfonts-min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/site.css">
</head>
<body>
    <div class="header">
        <div>
            <a href='/'>
                <img src='{{ STATIC_URL }}images/logo.jpg'/>
            </a>
        </div>
        <h2>{% block header %}{% endblock %}</h2>
    </div>

    <div class='content'>
        {% block content %} {% endblock %}
    </div>

    <hr/>

    <div class='footer'>
        <div class='contact-links'>
            <span>Follow us:</span>
            <a href='http://twitter.com/mharen'>@mharen</a>
            <a href='http://twitter.com/pwninstein'>@pwninstein</a>
        </div>
        <div class='bottom-nav'>
            <ul>
                <li>&copy; <a href='http://worldwidewat.com'>{{ current_year }} Worldwide Wat</a></li>
                <li><a href='/terms'>Terms</a></li>
                <li><a href='/about'>About the Site</a></li>
            </ul>
        </div>
    </div>
</body>
</html>