<div class="row">
    <div class="large-12 columns">
        <div class="large-8 columns">
            <h2>how does this work?</h2>
            <p>Build a meme from anywhere by linking to <em>upboat.me</em>. Put your meme info right in the url.</p>
            <p><img src="@Url.VersionedContent("~/Content/url-example.png")"/></p>
        </div>
        <div class="large-4 columns">
            <img src="@Url.VersionedContent("~/Content/banana-example-320.jpg")" alt="Step 1" class="framed"/>
        </div>
    </div>
</div>