
<div class="row">
    <div class="large-12 columns">        
        <p>Build a meme from anywhere by linking to <em>upboat.me</em>. Put your meme info right in the url.</p>
        <div class="row" style="text-align: center;">
            <img src="@Url.Content("~/Content/url-example.png")"/>
        </div>
        <p>In other words...</p>
        <div class="row">
            <div class="large-4 columns">
                <h4>Think of something funny<br />
                    <small>(the hard part)</small></h4>
                <img src="@Url.Content("~/Content/step2.png")" alt="Step 1"/>
            </div>
            <div class="large-4 columns">
                <h4>Make a meme via url<br />
                    <small>(just build it with the url)</small></h4>
                <img src="@Url.Content("~/Content/step3.png")" alt="Step 2"/>
            </div>
            <div class="large-4 columns">
                <h4>Don't switch apps<br />
                    <small>(you're already done!)</small></h4>
                <img src="@Url.Content("~/Content/step4.png")" alt="Step 3"/>
            </div>
        </div>
    </div>
</div>