@model UpboatMe.Models.IndexViewModel

<div class="row"><hr /></div>

@Html.Partial("HowTo")

<div class="row"><hr /></div>

@Html.Partial("MemeBuilder", Model.Memes)

<div class="row"><hr /></div>

@Html.Partial("RecentMemes", Model.RecentMemes)
