@model UpboatMe.Models.IndexViewModel

@Html.Partial("HowTo")

<div class="row"><hr /></div>

@Html.Partial("BuilderPartial", Model.Memes)

<div class="row"><hr /></div>

@Html.Partial("RecentMemes", Model.RecentMemes)
