@model dynamic

@{
    ViewBag.Title = "Pricing";
}
<div class="row">
    <h2>Pricing</h2>
    <div class="large-6 columns">
        <p>Uhh...free.</p>
    </div>
    <div class="large-6 columns">
        <img src="/sk/found-sweet-meme-tool/it's-free"/>
    </div>
</div>
