@model List<UpboatMe.Models.RecentMeme>

<div class="row">
    @if (Model != null && Model.Any())
    {
        foreach (var recentMeme in Model)
        {
            <div class="large-3 columns">
                <a href="@recentMeme.Url">
                    <img src="@recentMeme.Url" alt="@recentMeme.Alt" title="@recentMeme.Title"/>
                </a>
            </div>
        }
    }
</div>