body {
    padding: 10px;
}

.bottom-nav {
    margin-top: 5px;
}

.bottom-nav ul {
    display: inline;
    margin: 0px;
}

.bottom-nav li {
    display: inline;
    list-style: none;
    margin-left: 5px;
}